.BannerCarousel{
    width: 100%;
    height: 280px;
    margin: 0 auto;
    margin-top: 15px;
    /* background: rgb(143, 141, 141); */
    position: relative;
}
.BannerCarousel-Image{
    width: 100%;
    height: 280px;
    object-fit:cover ;

}
.slick-arrow.slick-prev,.slick-arrow.slick-next{
    background: white;  
    position: absolute;
    width: 50px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 0px 5px rgb(158, 157, 157);

}
.slick-arrow.slick-next::before ,.slick-arrow.slick-prev::before{
    display: none;
}
.slick-arrow.slick-next{
    right: 0;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}
.slick-arrow.slick-prev{
    left: 0;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.slick-arrow.slick-next:hover,.slick-arrow.slick-prev:hover{
    background: white;
}