.CategoryBar{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoryBar-Img{
    width: 60px;
}
.categoryBar-Img>img{
    width: 100%;
}
.categoryBar-name{
    width:100%;
    font-size: 13px;
    font-weight: 500px;
    padding:4px 0;
}