.LoginModel {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 700px;
  background: white;
  z-index: 10000;
  display: flex;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
.left-container {
  background: url("https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/login_img_c4a81e.png")
    no-repeat;
  background-position: center 85%;
  height: 100%;
}
.left {
  width: 40%;
  background: #2874f0;
  height: 100%;
  color: white;
  padding: 30px;
}
.Login-title {
  font-size: 30px;
  padding: 20px 0;
}
.Login-des {
  font-size: 18px;
  font-weight: 300;
}
.right {
  width: 60%;
  height: 100%;
  padding: 50px 25px;
}
.Login-input {
  border: none;
  outline: none;
  width: 95%;
  border-bottom: 1px solid gray;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  margin-top: 10px;
  background: transparent;
}
.termsandcon {
  padding: 20px 0;
  font-size: 13px;
  color: #212121;
  font-weight: 300;
}
.Login-btn {
  width: 100%;
  /* padding: 10px 15px; */
  margin-top: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #fb641b;
  font-size: 15px;
  height: 48px;
  cursor: pointer;
}
.Login-signup {
  margin-top: 50%;
  text-align: center;
  color: #2874f0;
  font-size: 16px;
  cursor: pointer;
}
.close {
  position: absolute;
  top: 0%;
  right: -6%;
  font-size: 40px;
  cursor: pointer;
}
