.CategoryBanner{
    padding:25px 25px;
    width: fit-content;
    height:100%;
    max-height: 366px;
    background: white;
    text-align: center;
}
.CategoryBanner-img{
    width: 200px;
    height: 170px;
    cursor: pointer;
    object-fit: contain;
}
.CategoryBanner-title{
    padding: 15px 0;
    font-size: 15px;
    color: black;
}
.CategoryBanner-ShopNow{
    color: rgb(7, 172, 7);
    font-weight: 300;
}
.CategoryBanner-Brands{
    color: gray;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 0;
}
.CategoryBanner-img:hover{
    transform: scale(1.1);
}