.ProductDetailCard{
    width: 100%;
    height: 250px;
    display: flex;
    padding:10px;
    justify-content: space-between;
}
a:link{
    text-decoration: none;
  }
.ProductDetailCard-Img{
    width: 250px;
    height: 200px;
}
.ProductDetailCard-Img>img{
    width: 200px;
    height: 100%;
    object-fit: contain;
}
.ProductDetailCard-details{
    width: 70%;
    padding:10px 20px ;
    color: black;

}

.ProductDetailCard-name{
    font-size: 18px;

}
.ratingsAndreviews{
    display: flex;
    padding:5px 0;
}
.stars{
    background: #388E3C;
    font-size: 12px;
    padding: 4px 4px 2px 6px;
    color: white;
    border-radius: 4px;
}
.ratings{
    color: gray;
    font-size: 14px;
    padding:0 0 0 8px;
}
.ProductDetailCard-Productdetails{
    padding: 10px;
}
.ProductDetailCard-detail{
    list-style-type: none;
    font-size: 14px;
    color: #212121;
    padding:4px 0;
    font-weight: 400;
}
.ProductDetailCard-PriceandDelivery
{
    padding:20px;
    color: black;

}
.pricecontainer{
    display: flex;
    align-items: center;
}
.productCard-price{
    font-size: 25px;
    color: #212121;
    padding:10px 10px;
}
.freedel{
    font-size: 12px;
    padding:5px;
    font-weight: 300;
    color: #212121;

}
.discount{
    padding: 5px;
    font-size:14px;
    font-weight:300;
    color: #212121;    
}
















