@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
:root {
  --flipkart-lightBlue: #2874f0;
  --flipkart-white: white;
}
